<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/harishankarv/graph-based-movie-recommender">A Graph based recommendation system</a></strong>
			- Serving movie recommendations by modelling user information, movie data and genres as nodes in a graph, and representing the relationships between these nodes (ratings, genres) as edges.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/avinav/Yelp_Review_Categorization">Yelp Review Categorization</a></strong>
			- Trying to categorize Yelp text reviews into ratings for different metrics, by trying to understand the sentiments in the reviews.
		</h5>

    </div>
  </div>
</div>
</section>
